.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.header a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

@media (hover: hover) and (pointer: fine) {
  .header a:hover {
    color: gray;
  }
}

.logo {
  font-size: 2.5rem;
  z-index: 500;
  animation-name: moveFromLeft;
  animation-duration: 1.5s;
  align-self: flex-end;
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.logo a {
  text-decoration: underline;
  color: #00ff7f;
}

.underline-color {
  color: black;
}

.white-logo {
  color: white;
}

.clock {
  margin-left: 10px;
  font-size: 1.75rem;
  letter-spacing: 0.1px;
  color: black;
}

nav {
  display: flex;
}

.navbar-li {
  display: inline-block;
  padding: 0 2rem;
  margin-top: 15px;
}

.navbar-li:nth-child(-n + 6) {
  font-size: 1.8rem;
}

.navbar-li:hover:nth-child(-n + 5) {
  color: gray;
}

.menu {
  display: none;
  cursor: pointer;
}

.exit {
  display: none;
}

@media only screen and (max-width: 1190px) {
  .navbar-mobile-hidden {
    display: none;
  }

  .navbar-mobile-visible {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(71, 71, 71, 0.9);
    letter-spacing: 0.15rem;
    animation-name: easeIn;
    animation-duration: 0.3s;
  }

  @keyframes easeIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .navbar-mobile-visible ul {
    transform: translateY(40px);
    padding-top: 5rem;
    height: 25%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .navbar-mobile-visible ul li {
    margin: 10px 2px;
    width: 48%;
    text-align: center;
    position: relative;
    padding: 0.5rem 0;
  }

  .navbar-mobile-visible ul li a {
    color: white;
  }

  .navbar-mobile-visible ul li:nth-child(-n + 6) {
    /* background-color: white; */
    border: 1px rgba(255, 255, 255, 0.1) solid;
    border-radius: 5px;
    letter-spacing: 3px;
  }

  .navbar-mobile-visible ul li:nth-child(7) {
    flex-basis: 100%;
  }

  @keyframes easeLeft {
    0% {
      opacity: 0;
      transform: translateX(500px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .navbar-mobile-visible ul li:nth-child(6) input {
    height: 2.5rem;
    margin-right: 0.5rem;
  }

  .navbar-mobile-visible ul li:nth-child(6) button {
    height: 2.5rem;
  }

  .menu {
    display: block;
    color: black;
  }

  .menu-disabled {
    display: none;
  }

  .exit-enabled {
    display: block;
    cursor: pointer;
    z-index: 100;
    color: white;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 25px;
  padding-top: 25px;
  transform: translate(-50%);
}
